<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon-diaoyur-level05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{115,83}</string>
                <key>spriteSourceSize</key>
                <string>{279,197}</string>
                <key>textureRect</key>
                <string>{{1,1},{115,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-muban-level05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-7}</string>
                <key>spriteSize</key>
                <string>{182,118}</string>
                <key>spriteSourceSize</key>
                <string>{302,226}</string>
                <key>textureRect</key>
                <string>{{118,1},{182,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-biankuang-level05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,1}</string>
                <key>spriteSize</key>
                <string>{330,1985}</string>
                <key>spriteSourceSize</key>
                <string>{1334,2031}</string>
                <key>textureRect</key>
                <string>{{1,427},{330,1985}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>water-chizhongshui-level05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-11}</string>
                <key>spriteSize</key>
                <string>{304,1934}</string>
                <key>spriteSourceSize</key>
                <string>{1334,2048}</string>
                <key>textureRect</key>
                <string>{{1,121},{304,1934}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>level05.png</string>
            <key>size</key>
            <string>{1987,758}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bdb1113aa9fbada007769c33fed4fde:3d18de5a95a8deab0f1ae9ece7ffd6de:91bdcb13f65e8984a94865df34ca4baf$</string>
            <key>textureFileName</key>
            <string>level05.png</string>
        </dict>
    </dict>
</plist>
