<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img-changkanqunpaihangbang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,70}</string>
                <key>spriteSourceSize</key>
                <string>{237,78}</string>
                <key>textureRect</key>
                <string>{{1,1},{229,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-fanghui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{65,66}</string>
                <key>spriteSourceSize</key>
                <string>{71,70}</string>
                <key>textureRect</key>
                <string>{{232,1},{65,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>range.png</string>
            <key>size</key>
            <string>{298,72}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67340aa1dc3bc8c9f63ca6deb9d5cfbf:9af7b4b52e8ddeec92c97fa7bfa728b2:cfbbdef44256b3f7e5d5b0fd91e10a91$</string>
            <key>textureFileName</key>
            <string>range.png</string>
        </dict>
    </dict>
</plist>
