<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img-faqitiaozhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{133,52}</string>
                <key>spriteSourceSize</key>
                <string>{139,60}</string>
                <key>textureRect</key>
                <string>{{221,1},{133,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-kohao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,25}</string>
                <key>spriteSourceSize</key>
                <string>{22,25}</string>
                <key>textureRect</key>
                <string>{{356,1},{22,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-xiaojuxing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-20}</string>
                <key>spriteSize</key>
                <string>{317,35}</string>
                <key>spriteSourceSize</key>
                <string>{357,143}</string>
                <key>textureRect</key>
                <string>{{1,72},{317,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-zaiwanyiju.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{218,69}</string>
                <key>spriteSourceSize</key>
                <string>{224,77}</string>
                <key>textureRect</key>
                <string>{{1,1},{218,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-zhuye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{75,71}</string>
                <key>textureRect</key>
                <string>{{320,55},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>score.png</string>
            <key>size</key>
            <string>{388,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d9c5072bfe0dc2ea5289cc243680c2f:497de6146dc216ac3fcbf23b3ca1df54:e964b6a6f23b70b3ffe4cf12151abbb7$</string>
            <key>textureFileName</key>
            <string>score.png</string>
        </dict>
    </dict>
</plist>
