<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon-qiqiou-level04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{69,71}</string>
                <key>spriteSourceSize</key>
                <string>{133,121}</string>
                <key>textureRect</key>
                <string>{{1,1},{69,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon-youyongquan1-level04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-9}</string>
                <key>spriteSize</key>
                <string>{92,109}</string>
                <key>spriteSourceSize</key>
                <string>{234,197}</string>
                <key>textureRect</key>
                <string>{{1,147},{92,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon-youyongquan2-level04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,0}</string>
                <key>spriteSize</key>
                <string>{76,73}</string>
                <key>spriteSourceSize</key>
                <string>{146,111}</string>
                <key>textureRect</key>
                <string>{{1,72},{76,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>level04.png</string>
            <key>size</key>
            <string>{111,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f52ccac9e4ebfad17565bfa083b9f5cb:38970d62e942e4e92f4ec612d4ed4b80:03e396c3b9fca99ff8ea4988f2b83648$</string>
            <key>textureFileName</key>
            <string>level04.png</string>
        </dict>
    </dict>
</plist>
