<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon-chuan-level02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{208,150}</string>
                <key>spriteSourceSize</key>
                <string>{220,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{208,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-shitou1-level02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{148,85}</string>
                <key>spriteSourceSize</key>
                <string>{166,107}</string>
                <key>textureRect</key>
                <string>{{1,153},{148,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-shitou2-level02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{48,38}</string>
                <key>spriteSourceSize</key>
                <string>{60,56}</string>
                <key>textureRect</key>
                <string>{{211,1},{48,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon-shitou3-level02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{88,68}</string>
                <key>spriteSourceSize</key>
                <string>{112,86}</string>
                <key>textureRect</key>
                <string>{{151,153},{88,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>level02.png</string>
            <key>size</key>
            <string>{250,239}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b81e76b25a183b24a08c550bb2ef2981:641b0ec4df2c250cdf2263245048bd88:55753df71c9d4457585a9cb67a256212$</string>
            <key>textureFileName</key>
            <string>level02.png</string>
        </dict>
    </dict>
</plist>
