<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>barrierBlock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,66}</string>
                <key>spriteSourceSize</key>
                <string>{79,78}</string>
                <key>textureRect</key>
                <string>{{242,89},{63,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barrierHorizon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{355,39}</string>
                <key>spriteSourceSize</key>
                <string>{367,51}</string>
                <key>textureRect</key>
                <string>{{1,48},{355,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barrierVertical.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{45,454}</string>
                <key>spriteSourceSize</key>
                <string>{85,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{45,454}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{87,55}</string>
                <key>spriteSourceSize</key>
                <string>{91,57}</string>
                <key>textureRect</key>
                <string>{{358,48},{87,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ripple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,14}</string>
                <key>spriteSourceSize</key>
                <string>{40,14}</string>
                <key>textureRect</key>
                <string>{{307,137},{40,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timeBlock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,19}</string>
                <key>spriteSize</key>
                <string>{239,181}</string>
                <key>spriteSourceSize</key>
                <string>{275,219}</string>
                <key>textureRect</key>
                <string>{{1,89},{239,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>allPublic.png</string>
            <key>size</key>
            <string>{456,271}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad92b43c30806f21929f082bcf573e88:fc16075bedc4ad2f13d7ae79a3dc6b16:12341690fc702bef7356c5a0859f6387$</string>
            <key>textureFileName</key>
            <string>allPublic.png</string>
        </dict>
    </dict>
</plist>
