<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img-fenxian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,55}</string>
                <key>spriteSourceSize</key>
                <string>{134,55}</string>
                <key>textureRect</key>
                <string>{{1,144},{134,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-xiaokuohao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{168,1},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-xinjilu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{165,70}</string>
                <key>spriteSourceSize</key>
                <string>{165,74}</string>
                <key>textureRect</key>
                <string>{{1,1},{165,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-zaiwanyiju.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{219,69}</string>
                <key>spriteSourceSize</key>
                <string>{227,83}</string>
                <key>textureRect</key>
                <string>{{1,73},{219,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-zhuye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{72,70}</string>
                <key>textureRect</key>
                <string>{{137,144},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>newRecord.png</string>
            <key>size</key>
            <string>{221,213}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fd3913b11b1a156cf4c8080aa12e335:8a9c4b13904058387f8828450365c1f0:9742381f56a4fcb4e637714246121b52$</string>
            <key>textureFileName</key>
            <string>newRecord.png</string>
        </dict>
    </dict>
</plist>
