<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>合成 1_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-106,-37}</string>
                <key>spriteSize</key>
                <string>{84,44}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{719,599},{84,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-106,-37}</string>
                <key>spriteSize</key>
                <string>{86,46}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{787,151},{86,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-106,-37}</string>
                <key>spriteSize</key>
                <string>{86,46}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{701,281},{86,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-106,-36}</string>
                <key>spriteSize</key>
                <string>{86,46}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{405,595},{86,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-106,-37}</string>
                <key>spriteSize</key>
                <string>{86,46}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{453,587},{86,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-106,-37}</string>
                <key>spriteSize</key>
                <string>{86,46}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{749,281},{86,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-106,-37}</string>
                <key>spriteSize</key>
                <string>{86,46}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{627,447},{86,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-106,-37}</string>
                <key>spriteSize</key>
                <string>{86,44}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{769,417},{86,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-106,-37}</string>
                <key>spriteSize</key>
                <string>{86,44}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{721,505},{86,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-106,-36}</string>
                <key>spriteSize</key>
                <string>{86,46}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{671,535},{86,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-106,-37}</string>
                <key>spriteSize</key>
                <string>{86,44}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{805,551},{86,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-122,-57}</string>
                <key>spriteSize</key>
                <string>{82,48}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{489,675},{82,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-92,-62}</string>
                <key>spriteSize</key>
                <string>{84,62}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{701,145},{84,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-99,-51}</string>
                <key>spriteSize</key>
                <string>{96,84}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{529,447},{96,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-108,-67}</string>
                <key>spriteSize</key>
                <string>{82,70}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{701,209},{82,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-97,-43}</string>
                <key>spriteSize</key>
                <string>{110,98}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{403,233},{110,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-85,-33}</string>
                <key>spriteSize</key>
                <string>{126,120}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{503,239},{126,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-67,-19}</string>
                <key>spriteSize</key>
                <string>{148,142}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1,501},{148,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-2}</string>
                <key>spriteSize</key>
                <string>{182,170}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1,1},{182,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,0}</string>
                <key>spriteSize</key>
                <string>{176,166}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1,173},{176,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,2}</string>
                <key>spriteSize</key>
                <string>{168,162}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{185,1},{168,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,5}</string>
                <key>spriteSize</key>
                <string>{160,158}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1,341},{160,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,8}</string>
                <key>spriteSize</key>
                <string>{150,154}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{355,1},{150,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,10}</string>
                <key>spriteSize</key>
                <string>{142,148}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{507,1},{142,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,13}</string>
                <key>spriteSize</key>
                <string>{134,142}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{651,1},{134,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,61}</string>
                <key>spriteSize</key>
                <string>{84,46}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{719,551},{84,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,61}</string>
                <key>spriteSize</key>
                <string>{84,44}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{809,505},{84,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,61}</string>
                <key>spriteSize</key>
                <string>{84,44}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{797,331},{84,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,61}</string>
                <key>spriteSize</key>
                <string>{82,44}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{843,245},{82,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,61}</string>
                <key>spriteSize</key>
                <string>{82,44}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{843,329},{82,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,61}</string>
                <key>spriteSize</key>
                <string>{82,44}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{815,417},{82,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,61}</string>
                <key>spriteSize</key>
                <string>{82,42}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{851,551},{82,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,55}</string>
                <key>spriteSize</key>
                <string>{82,40}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{405,683},{82,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,50}</string>
                <key>spriteSize</key>
                <string>{80,40}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{589,619},{80,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,45}</string>
                <key>spriteSize</key>
                <string>{80,38}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{589,661},{80,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,41}</string>
                <key>spriteSize</key>
                <string>{80,40}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{717,645},{80,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,37}</string>
                <key>spriteSize</key>
                <string>{82,40}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{851,635},{82,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,32}</string>
                <key>spriteSize</key>
                <string>{82,44}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{671,623},{82,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,20}</string>
                <key>spriteSize</key>
                <string>{58,70}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{155,645},{58,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,5}</string>
                <key>spriteSize</key>
                <string>{52,76}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{631,393},{52,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{93,-19}</string>
                <key>spriteSize</key>
                <string>{48,82}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{621,535},{48,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{120,-52}</string>
                <key>spriteSize</key>
                <string>{44,86}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{675,447},{44,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{111,-65}</string>
                <key>spriteSize</key>
                <string>{44,84}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{805,639},{44,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{118,-49}</string>
                <key>spriteSize</key>
                <string>{44,84}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{797,245},{44,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{121,-51}</string>
                <key>spriteSize</key>
                <string>{50,86}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{649,151},{50,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{119,-54}</string>
                <key>spriteSize</key>
                <string>{68,88}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{333,233},{68,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{118,-57}</string>
                <key>spriteSize</key>
                <string>{84,90}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{529,533},{84,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{116,-76}</string>
                <key>spriteSize</key>
                <string>{104,86}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{229,619},{104,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{121,-68}</string>
                <key>spriteSize</key>
                <string>{116,86}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{317,607},{116,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{123,-65}</string>
                <key>spriteSize</key>
                <string>{124,96}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{401,345},{124,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{125,-75}</string>
                <key>spriteSize</key>
                <string>{130,84}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{499,361},{130,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{127,-76}</string>
                <key>spriteSize</key>
                <string>{140,86}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{507,151},{140,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{129,-78}</string>
                <key>spriteSize</key>
                <string>{144,86}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{229,323},{144,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{132,-79}</string>
                <key>spriteSize</key>
                <string>{148,88}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{787,1},{148,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{132,-81}</string>
                <key>spriteSize</key>
                <string>{152,88}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{179,233},{152,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{135,-86}</string>
                <key>spriteSize</key>
                <string>{148,82}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{317,323},{148,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{136,-90}</string>
                <key>spriteSize</key>
                <string>{150,74}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{355,157},{150,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{135,-87}</string>
                <key>spriteSize</key>
                <string>{152,78}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1,645},{152,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{139,-89}</string>
                <key>spriteSize</key>
                <string>{142,76}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{151,501},{142,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{122,-90}</string>
                <key>spriteSize</key>
                <string>{114,74}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{453,471},{114,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{123,-91}</string>
                <key>spriteSize</key>
                <string>{120,76}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{375,473},{120,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{124,-91}</string>
                <key>spriteSize</key>
                <string>{132,72}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{301,473},{132,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{126,-92}</string>
                <key>spriteSize</key>
                <string>{148,70}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{229,469},{148,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{126,-95}</string>
                <key>spriteSize</key>
                <string>{152,68}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{631,239},{152,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{126,-96}</string>
                <key>spriteSize</key>
                <string>{154,66}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{185,165},{154,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{127,-97}</string>
                <key>spriteSize</key>
                <string>{156,64}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{163,341},{156,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{160,-107}</string>
                <key>spriteSize</key>
                <string>{86,44}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{787,199},{86,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{160,-107}</string>
                <key>spriteSize</key>
                <string>{86,46}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{709,369},{86,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{160,-107}</string>
                <key>spriteSize</key>
                <string>{86,46}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{501,619},{86,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{160,-107}</string>
                <key>spriteSize</key>
                <string>{86,46}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{721,417},{86,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishDrump.png</string>
            <key>size</key>
            <string>{894,724}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e1ca4c4ea2cf08253e7d4f384d0094e:b8e303d8f4077bedc93b3eea29670da3:f65360e7abb072a29edb821d5062afad$</string>
            <key>textureFileName</key>
            <string>fishDrump.png</string>
        </dict>
    </dict>
</plist>
