<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>合成 1_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-665.5,748.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{153,63},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-665.5,748.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{153,63},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-630}</string>
                <key>spriteSize</key>
                <string>{14,8}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{109,219},{14,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-636}</string>
                <key>spriteSize</key>
                <string>{24,10}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{263,245},{24,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-643}</string>
                <key>spriteSize</key>
                <string>{30,16}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{305,1},{30,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-649}</string>
                <key>spriteSize</key>
                <string>{32,20}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{295,97},{32,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-655}</string>
                <key>spriteSize</key>
                <string>{34,28}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{295,61},{34,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-659}</string>
                <key>spriteSize</key>
                <string>{34,32}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{283,169},{34,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-663}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{283,131},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-665}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{263,203},{34,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-667}</string>
                <key>spriteSize</key>
                <string>{36,44}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{63,219},{36,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-677}</string>
                <key>spriteSize</key>
                <string>{36,60}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{1,219},{36,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-680}</string>
                <key>spriteSize</key>
                <string>{40,70}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{241,131},{40,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-680}</string>
                <key>spriteSize</key>
                <string>{48,68}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{69,149},{48,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-677}</string>
                <key>spriteSize</key>
                <string>{56,66}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{119,145},{56,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-674}</string>
                <key>spriteSize</key>
                <string>{64,68}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{229,61},{64,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,-676}</string>
                <key>spriteSize</key>
                <string>{74,68}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{1,1},{74,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,-678}</string>
                <key>spriteSize</key>
                <string>{76,66}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{1,71},{76,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{70,-678}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{77,1},{74,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{74,-679}</string>
                <key>spriteSize</key>
                <string>{68,66}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{1,149},{68,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{77,-678}</string>
                <key>spriteSize</key>
                <string>{62,64}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{177,139},{62,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{81,-675}</string>
                <key>spriteSize</key>
                <string>{60,74}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{153,1},{60,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{84,-672}</string>
                <key>spriteSize</key>
                <string>{56,74}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{113,69},{56,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,-670}</string>
                <key>spriteSize</key>
                <string>{58,74}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{229,1},{58,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{90,-667}</string>
                <key>spriteSize</key>
                <string>{56,74}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{171,63},{56,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{86,-664}</string>
                <key>spriteSize</key>
                <string>{42,74}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{119,213},{42,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{80,-664}</string>
                <key>spriteSize</key>
                <string>{42,76}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{69,71},{42,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{80,-651}</string>
                <key>spriteSize</key>
                <string>{30,48}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{195,205},{30,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{81,-650}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{227,205},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{81,-645}</string>
                <key>spriteSize</key>
                <string>{22,36}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{299,203},{22,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-665.5,748.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{153,63},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-665.5,748.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{153,63},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-665.5,748.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{153,63},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-665.5,748.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{153,63},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-665.5,748.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{153,63},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-665.5,748.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{153,63},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-665.5,748.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{153,63},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-665.5,748.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{153,63},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-665.5,748.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{153,63},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-665.5,748.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1334,1500}</string>
                <key>textureRect</key>
                <string>{{153,63},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>waterRotate.png</string>
            <key>size</key>
            <string>{324,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5dd743726a0765ea1949b3dd33bf9438:7d2d897c5265f3e5681914d7f471eccb:8b7dcf34b5cbf0bd9fbc6e2b4456378a$</string>
            <key>textureFileName</key>
            <string>waterRotate.png</string>
        </dict>
    </dict>
</plist>
