<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>合成 1_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-665.5,373.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{221,677},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,161}</string>
                <key>spriteSize</key>
                <string>{10,8}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{207,717},{10,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,164}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{227,443},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,166}</string>
                <key>spriteSize</key>
                <string>{24,22}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{321,677},{24,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,169}</string>
                <key>spriteSize</key>
                <string>{30,28}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{207,685},{30,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,173}</string>
                <key>spriteSize</key>
                <string>{108,40}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{97,685},{108,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,173}</string>
                <key>spriteSize</key>
                <string>{94,42}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1,685},{94,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,175}</string>
                <key>spriteSize</key>
                <string>{82,50}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{237,677},{82,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,178}</string>
                <key>spriteSize</key>
                <string>{94,56}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{635,623},{94,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,181}</string>
                <key>spriteSize</key>
                <string>{86,64}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{721,367},{86,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,183}</string>
                <key>spriteSize</key>
                <string>{88,70}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{779,519},{88,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,185}</string>
                <key>spriteSize</key>
                <string>{82,76}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{805,627},{82,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,186}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{721,433},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,186}</string>
                <key>spriteSize</key>
                <string>{92,90}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{687,519},{92,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,186}</string>
                <key>spriteSize</key>
                <string>{98,96}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{537,623},{98,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,187}</string>
                <key>spriteSize</key>
                <string>{104,102}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{433,623},{104,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,187}</string>
                <key>spriteSize</key>
                <string>{112,110}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{693,613},{112,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,187}</string>
                <key>spriteSize</key>
                <string>{118,116}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{567,505},{118,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,188}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{851,501},{126,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,188}</string>
                <key>spriteSize</key>
                <string>{132,130}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{433,491},{132,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,188}</string>
                <key>spriteSize</key>
                <string>{138,136}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{581,367},{138,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,189}</string>
                <key>spriteSize</key>
                <string>{146,144}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{433,345},{146,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,189}</string>
                <key>spriteSize</key>
                <string>{152,150}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{433,193},{152,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,189}</string>
                <key>spriteSize</key>
                <string>{158,156}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{815,169},{158,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,190}</string>
                <key>spriteSize</key>
                <string>{166,164}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{815,1},{166,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,190}</string>
                <key>spriteSize</key>
                <string>{172,170}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{809,327},{172,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,191}</string>
                <key>spriteSize</key>
                <string>{180,178}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{627,187},{180,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,191}</string>
                <key>spriteSize</key>
                <string>{186,184}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{627,1},{186,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,191}</string>
                <key>spriteSize</key>
                <string>{192,190}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{433,1},{192,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,192}</string>
                <key>spriteSize</key>
                <string>{198,198}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{233,1},{198,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,192}</string>
                <key>spriteSize</key>
                <string>{206,204}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{227,235},{206,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,192}</string>
                <key>spriteSize</key>
                <string>{212,210}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{221,463},{212,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,193}</string>
                <key>spriteSize</key>
                <string>{220,218}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1,463},{220,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,193}</string>
                <key>spriteSize</key>
                <string>{226,224}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1,235},{226,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,193}</string>
                <key>spriteSize</key>
                <string>{232,230}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1,1},{232,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>合成 1_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-665.5,373.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{221,677},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-665.5,373.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{221,677},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-665.5,373.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{221,677},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-665.5,373.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{221,677},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>合成 1_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-665.5,373.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{221,677},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>waterFlower.png</string>
            <key>size</key>
            <string>{980,728}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3010e6a5f98b9ee6a785dd8226208a9:a2b499f4cad099ceacfb3ab05ebc0627:ebd977a3328c2116fe5032c917c912a9$</string>
            <key>textureFileName</key>
            <string>waterFlower.png</string>
        </dict>
    </dict>
</plist>
