<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg-level01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1334,750}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1,1},{1334,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-biangkuang-level01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-18}</string>
                <key>spriteSize</key>
                <string>{1194,420}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1,753},{1194,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water-chizhongshui-level01 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,32}</string>
                <key>spriteSize</key>
                <string>{1164,384}</string>
                <key>spriteSourceSize</key>
                <string>{1352,564}</string>
                <key>textureRect</key>
                <string>{{1,1175},{1164,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>level01.png</string>
            <key>size</key>
            <string>{1336,1560}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c40e85b1b2c330ac4143f4cb6aa0430:f308a81e43feea1ef735d716fb59bb3a:25c7505343564b9734677b4b6604de01$</string>
            <key>textureFileName</key>
            <string>level01.png</string>
        </dict>
    </dict>
</plist>
